--
-- PostgreSQL database dump
--

\restrict 33cz1c7CtyJUJYzfI85PcRzdAMZaMTPeDtqLpNqt1XS1ZgJClTCTHAgYTFkfrAk

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member (
    membership_duration_months integer,
    membership_start_date date,
    id bigint NOT NULL,
    address character varying(255),
    email character varying(255),
    membership_type character varying(255),
    name character varying(255),
    phone_number character varying(255)
);


ALTER TABLE public.member OWNER TO postgres;

--
-- Name: member_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.member_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_id_seq OWNER TO postgres;

--
-- Name: member_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.member_id_seq OWNED BY public.member.id;


--
-- Name: member_tournament; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member_tournament (
    member_id bigint NOT NULL,
    tournament_id bigint NOT NULL
);


ALTER TABLE public.member_tournament OWNER TO postgres;

--
-- Name: tournament; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournament (
    cash_prize_amount double precision,
    end_date date,
    entry_fee double precision,
    start_date date,
    id bigint NOT NULL,
    location character varying(255),
    name character varying(255)
);


ALTER TABLE public.tournament OWNER TO postgres;

--
-- Name: tournament_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tournament_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournament_id_seq OWNER TO postgres;

--
-- Name: tournament_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tournament_id_seq OWNED BY public.tournament.id;


--
-- Name: member id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member ALTER COLUMN id SET DEFAULT nextval('public.member_id_seq'::regclass);


--
-- Name: tournament id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournament ALTER COLUMN id SET DEFAULT nextval('public.tournament_id_seq'::regclass);


--
-- Data for Name: member; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member (membership_duration_months, membership_start_date, id, address, email, membership_type, name, phone_number) FROM stdin;
12	2024-04-04	1	789 Pine Rd	charlie@example.com	Bronze	Charlie Updated	555-9999
\.


--
-- Data for Name: member_tournament; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member_tournament (member_id, tournament_id) FROM stdin;
\.


--
-- Data for Name: tournament; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournament (cash_prize_amount, end_date, entry_fee, start_date, id, location, name) FROM stdin;
2500	2024-10-03	175	2024-10-01	1	St. Andrews	Autumn Open Updated
\.


--
-- Name: member_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.member_id_seq', 1, true);


--
-- Name: tournament_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournament_id_seq', 2, true);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (id);


--
-- Name: member_tournament member_tournament_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_tournament
    ADD CONSTRAINT member_tournament_pkey PRIMARY KEY (member_id, tournament_id);


--
-- Name: tournament tournament_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournament
    ADD CONSTRAINT tournament_pkey PRIMARY KEY (id);


--
-- Name: member_tournament fk9w4f1jbsmseg3wo57dr6pekyf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_tournament
    ADD CONSTRAINT fk9w4f1jbsmseg3wo57dr6pekyf FOREIGN KEY (member_id) REFERENCES public.member(id);


--
-- Name: member_tournament fks68a0m7xb4yrs853i9mbkgwt9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_tournament
    ADD CONSTRAINT fks68a0m7xb4yrs853i9mbkgwt9 FOREIGN KEY (tournament_id) REFERENCES public.tournament(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 33cz1c7CtyJUJYzfI85PcRzdAMZaMTPeDtqLpNqt1XS1ZgJClTCTHAgYTFkfrAk

